  
@charset "UTF-8";

        body {
            background: #363636;
        }

        div {
            /* border: 1px solid red; */
            box-sizing: border-box;
        }

        p {
            color: white;
            text-align: center;
        }

        #wrapper {
            width: 1190px;
            height: 1400px;

            margin: auto;
        }

        #header {
            width: 100%;
            height: 10%;
        }

        #content {
            width: 100%;
            height: 80%;
        }

        .header {
            float: left;
        }

        #header-menu {
            width: 5%;
            height: 100%;
            position: relative;
        } 


        #header1 {
        	width: 15%;
        	height: 100%;
        }

        #header2 {
            width: 55%;
            height: 100%;
            position: relative;
        }

        #header2 > #search-form {
            width: 70%;
            height: 40%;
            /* border: 1px solid red; */

            top: 0;
            bottom: 0;
            left: 140px;
            right: 0;
            position: absolute;
            margin: auto;
        }

        #search-text-area {
            height: 100%;
            width: 85%;
            float: left;
        }

        #search-btn-area {
            height: 100%;
            width: 15%;
            float: left;
        }

        #search-input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #search-btn {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
        }

        #header3 {
			width: 25%;
			height: 100%;
			position: relative;
			padding : 10px;
			text-align: center;
		}
		
		 #loginArea {
			width : 100%;
			padding : 20px;
			margin: auto;
			text-align : center;
		}

		#loginform, #joinform {
			margin: 10px 5px 10px;
			width: 40%;
			float: left;
		}
		
		#searchDiv {
			width : 100%;
			text-align: left;
		}

		#searchDiv span {
			color : #fff;
			font-size : 12px;
			margin : 0px 16px;
		}
		
		
		.loginJoin {
			width: 100%;
			height: 40px;
			background: #1c81ff;
			border: 1px solid #1b7df8;
			font-size: 14px;
			color: #fff;
			cursor: pointer;
			transition: background-color 0.3s, border-color 0.3s;
		}

		.loginJoin:hover, #userInfoBtn button:hover {
			background-color: #0065e3;
			border-color: #0061db;
		}

		#userInfo {
			color : white;
			padding-top : 35px;
			padding-bottom : 5px;
		}

		#userInfo span {
			font-weight : lighter;
		}

		#userInfo b {
			font-weight : bold;
		}

		#userInfoBtn button {
			margin: 5px;
			background: #1c81ff;
			color: #fff;
			border: 1px solid #1b7df8;
			cursor: pointer;
			outline : none;
	
			transition: background-color 0.3s, border-color 0.3s;
		}

		

        #content {
            width: 100%;
            height: 100%;
            
        }

        html.open { 
            overflow: hidden; 
        } 
        
        .menuBtn { 
            left: 0px; 
            top: 0px; 
            z-index: 1; 
            /* background-size: 40%;  */
            background-repeat: no-repeat; 
            background-position: center; 
            cursor: pointer; 
            font-size: 12px;
        } 
        
        #menu-icon { 
            color: #ffffff;
            padding: 30px 0 0;
            font-size: 5em; 
            }
    

        .close { 
            width: 50px; 
            height: 50px; 
            position: absolute; 
            right: 0px; 
            top: 0px; 
            background-size: 50%; 
            background-repeat: no-repeat; 
            background-position: center; 
            cursor: pointer; 
        }

         #menu a {
            padding: 10px 40px 10px 20px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            font-weight: bold;
            float: left;
        } 

        #menu a:hover {
            color: #f1f1f1;
        } 

        #menu { 
            width: 250px; 
            height: 100%; 
            position: fixed; 
            top: 0px; 
            left: -252px; 
            z-index: 10; 
            background-color: black; 
            text-align: center; 
            transition: All 0.2s ease; 
            -webkit-transition: All 0.2s ease; 
            -moz-transition: All 0.2s ease; 
            -o-transition: All 0.2s ease; 
        }

        #menu.open { 
            left: 0px; 
        } 

        .menu-icon {
            size: 50px;
        }

        .page_cover.open { 
            display: block; 
        } 

        .page_cover { 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0px; 
            left: 0px; 
            background-color: rgba(0,0,0,0.4); 
            z-index: 4; 
            display: none; 
        }