  
@charset "UTF-8";

        body {
            background: #363636;
        }

        div {
            /* border: 1px solid red; */
            box-sizing: border-box;
        }

        p {
            color: white;
            text-align: center;
        }

        #wrapper {
            width: 1190px;
            height: 1400px;

            margin: auto;
        }

        #header {
            width: 100%;
            height: 10%;
        }

        #content {
            width: 100%;
            height: 80%;
        }

        .header {
            float: left;
        }

        #header-menu {
            width: 5%;
            height: 100%;
            position: relative;
        } 

        #header1 {
            width: 20%;
            height: 100%;
        }
        
        #logo {
        	width: 15%;
        	height: 100%;
        }

        #header2 {
            width: 55%;
            height: 100%;
            position: relative;
        }

        #search-form {
            width: 70%;
            height: 40%;
            /* border: 1px solid red; */

            top: 0;
            bottom: 0;
            left: 140px;
            right: 0;
            position: absolute;
            margin: auto;
        }

        #search-text-area {
            height: 100%;
            width: 85%;
            float: left;
        }

        #search-btn-area {
            height: 100%;
            width: 15%;
            float: left;
        }

        #search-input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #search-btn {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
        }

        #header3 {
            width: 25%;
            height: 100%;
            /* padding: 6px 8px 6px 16px; */
            padding: 0;
            position: relative;
        }

        #header3 a {
            text-decoration: none;
            font-size: 18px;
            color: #a49e9e;
            display: block;
            font-weight: bold;
            float: left;
            margin: 0;
            top: 0;
            bottom: 0;
            position: absolute; 
            width: 100%;
        }

        #logform {
            width: 60%;
            height: 20%;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute; 
        }

        #loginform {
            height: 100%;
            width: 50%;
            float: left;
        }

        #joinform {
            height: 100%;
            width: 50%;
            float: left;
        }

        #header3 a:hover {
            color: #f1f1f1;
        }

        #content {
            width: 100%;
            height: 100%;
            
        }

        html.open { 
            overflow: hidden; 
        } 
        
        .menuBtn { 
            /* height: 100%;  */
            /* position: re;  */
            left: 0px; 
            top: 0px; 
            z-index: 1; 
            /* background-size: 40%;  */
            background-repeat: no-repeat; 
            background-position: center; 
            cursor: pointer; 
            font-size: 12px;
        } 
        
        #menu-icon { 
            color: #ffffff;
            padding: 40px 0 0;
            font-size: 4em; 
            }
    

        .close { 
            width: 50px; 
            height: 50px; 
            position: absolute; 
            right: 0px; 
            top: 0px; 
            background-size: 50%; 
            background-repeat: no-repeat; 
            background-position: center; 
            cursor: pointer; 
        }

         #menu a {
            padding: 10px 40px 10px 20px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            font-weight: bold;
            float: left;
        } 

        #menu a:hover {
            color: #f1f1f1;
        } 

        #menu { 
            width: 250px; 
            height: 100%; 
            position: fixed; 
            top: 0px; 
            left: -252px; 
            z-index: 10; 
            background-color: black; 
            text-align: center; 
            transition: All 0.2s ease; 
            -webkit-transition: All 0.2s ease; 
            -moz-transition: All 0.2s ease; 
            -o-transition: All 0.2s ease; 
        }

        #menu.open { 
            left: 0px; 
        } 

        .menu-icon {
            size: 50px;
        }

        .page_cover.open { 
            display: block; 
        } 

        .page_cover { 
            width: 100%; 
            height: 100%; 
            position: fixed; 
            top: 0px; 
            left: 0px; 
            background-color: rgba(0,0,0,0.4); 
            z-index: 4; 
            display: none; 
        }